@charset "utf-8";

body {
    margin: 0;
    background-image: url(./img/photo-1559583985-c80d8ad9b29f.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    background-color: #fff;
    min-height: 100vh;
    /* vh : 화면 가득 채우기 */
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.task-tabs {
    display: flex;
}
.task-tabs div {
    padding: 1em;
}
.task-area {
    border: 1px solid lightblue;
}
.task-tabs {
    position: relative;
    display: flex;
    border-bottom: 1px solid lightblue;
}
.task-tabs div {
    padding: 1em;
}
#under-line {
    height: 4px;
    background-color: cornflowerblue;
    position: absolute;
    width: 50px;
    left: 0;
    top: 52px;
    padding: 0;
}
/* task */
.task {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.task-done {
    text-decoration: line-through;
    background-color: lightgray;
    transition: 1s;
}
.button-box {
    display: flex;
}
.task-tabs > div {
    cursor: pointer;
}
.button-box button {
    height: 100%;
    border: none;
    width: 5em;
    margin: 0;
    background-color: #fff;
    transition: 1s;
    font-size: 15px;
}
.button-box button:first-child:hover {
    background-color: rgb(127, 255, 0, 0.6);
}
.button-box button:nth-child(2):hover {
    background-color: rgb(225, 0, 0, 0.3);
}
.fa-circle-check {
    color: rgb(60, 219, 68);
}
.fa-delete-left {
    color: rgb(202, 52, 52);
}
.fa-arrow-rotate-left {
    color: darkgray;
}

.task span {
    padding: 1em;
}
